<h1>eBUGA</h1>
<h2>Olá <%= @customer.username %>!</h2>

<p><strong>Saldo: </strong><%= @customer.balance %>€</p>
<%= link_to "Carregar Saldo", new_payment_path(@customer) %>
<%= link_to "Ver pagamentos", payments_path %>
<%= link_to "🗺️ Ver Mapa de Estações", stations_path, class: "btn btn-primary" %>
<br>
<%= button_to "Log out", session_path, method: :delete, class: 'btn-primary full-width' %>