<%= form_with model: @customer, local: true do |form| %>
  <% if @customer.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@customer.errors.count, "erro") %> impedem o salvamento:</h2>
      <ul>
        <% @customer.errors.full_messages.each do |mensagem| %>
          <li><%= mensagem %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username, "Nome de usuário" %><br>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :id_card_number, "Nº do Cartão de Cidadão (opcional)" %><br>
    <%= form.text_field :id_card_number %>
  </div>

  <div class="actions">
    <%= form.submit "Submeter" %>
  </div>
<% end %>