<h1>Carregar Saldo</h1>

<%= form_with model: @payment, local: true do |form| %>
  <div>
    <%= form.label :amount, "Valor a carregar (€)" %>
    <%= form.number_field :amount, min: 1, step: 1, value: 5 %>
  </div>

  <div>
    <%= form.label :method_mbway do %>
      <%= form.radio_button :method, 'mbway', checked: true %> MBWay
    <% end %>

    <%= form.label :method_revolut do %>
      <%= form.radio_button :method, 'revolut' %> Revolut
    <% end %>
  </div>

  <div>
    <%= label_tag :mobile_number, "Número de telemóvel" %>
    <%= text_field_tag :mobile_number, nil, required: true, pattern: "\\d{9}", title: "Insira um número com 9 dígitos" %>
  </div>

  <%= form.submit "Carregar" %>
<% end %>
